# Virtual environments
.venv/
env/
myvenv/

# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Packaging files
build/
dist/
*.egg-info/

# Sensitive files
*.env
config.json

